In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler

data={
    'Name':['Amit','Sara','Ravi','Priya','John'],
    'Department':['IT','HR','Finance','IT','Finance'],
    'Experience':[2,5,None,3,4],
    'Salary':[40000,60000,50000,55000,None]
}

df=pd.DataFrame(data)
print("===Original Data===\n",df)

df['Experience'].fillna(df['Experience'].mean(),inplace=True)
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print("\n===Data After Filling Missing Values===\n",df)

le=LabelEncoder()
df['Dept_encoded']=le.fit_transform(df['Department'])
print("\nDepartment Mapping:",dict(zip(le.classes_,le.transform(le.classes_))))
print("\n===After Encoding Department===\n",df)

scaler=StandardScaler()
df[['Experience_scaled','Salary_scaled']]=scaler.fit_transform(df[['Experience','Salary']])
print("\n===Final Processed Data===\n",df)

===Original Data===
     Name Department  Experience   Salary
0   Amit         IT         2.0  40000.0
1   Sara         HR         5.0  60000.0
2   Ravi    Finance         NaN  50000.0
3  Priya         IT         3.0  55000.0
4   John    Finance         4.0      NaN

===Data After Filling Missing Values===
     Name Department  Experience   Salary
0   Amit         IT         2.0  40000.0
1   Sara         HR         5.0  60000.0
2   Ravi    Finance         3.5  50000.0
3  Priya         IT         3.0  55000.0
4   John    Finance         4.0  51250.0

Department Mapping: {'Finance': np.int64(0), 'HR': np.int64(1), 'IT': np.int64(2)}

===After Encoding Department===
     Name Department  Experience   Salary  Dept_encoded
0   Amit         IT         2.0  40000.0             2
1   Sara         HR         5.0  60000.0             1
2   Ravi    Finance         3.5  50000.0             0
3  Priya         IT         3.0  55000.0             2
4   John    Finance         4.0  51250.0             0

===Final Processed Data===
     Name Department  Experience   Salary  Dept_encoded  Experience_scaled  \
0   Amit         IT         2.0  40000.0             2               -1.5
1   Sara         HR         5.0  60000.0             1                1.5
2   Ravi    Finance         3.5  50000.0             0                0.0
3  Priya         IT         3.0  55000.0             2               -0.5
4   John    Finance         4.0  51250.0             0                0.5

   Salary_scaled
0      -1.700840
1       1.322876
2      -0.188982
3       0.566947
4       0.000000

C:\Users\lenovo\AppData\Local\Temp\ipykernel_23120\1597897739.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Experience'].fillna(df['Experience'].mean(),inplace=True)
C:\Users\lenovo\AppData\Local\Temp\ipykernel_23120\1597897739.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(),inplace=True)